@import "../../Common";
.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_links {
  display: flex;
  border-right: 1px solid gray;
}

.social.icon {
  margin: 5px 9px 0px;
}
.iconImg {
  width: 26px;
  height: 26px;
  &:hover {
    color: white;
  }
}

.social_icon:last-child {
  margin-right: 1.2em;
}

.social_kids {
  width: 50px;
  height: 17px;
  background-color: gray;
  margin-left: 1.2em;
  padding: 0 0.5em;
  border-radius: 10px;
  text-decoration: none;
  color: $black;
  font-weight: bold;
  &:hover {
    background-color: $white;
  }
}
