@import "../../Common";

.card {
  width: 248px;
  height: 413px;
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 1em;
  border-radius: 4px;
  overflow: hidden;
  .card__image {
    height: 279px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .card__content {
    position: relative;
    height: 104px;
    padding: 36px 20px 20px;
    background-color: $black;
    .card__decal-right {
      position: absolute;
      right: 20px;
      top: 0;
      width: 12px;
      height: 8px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        border-radius: 0 0 2px 2px;
        background-color: $white;
        height: 100%;
        width: 4px;
      }
      &::after {
        right: -5px;
      }
    }
    .card__decal-left {
      position: absolute;
      z-index: 0;
      top: 20px;
      left: 15px;
      width: 24px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        border-radius: 2px;
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        box-shadow: none;
        transition: box-shadow 0.3 ease;
      }
      &::before {
        width: 16px;
      }
      &::after {
        width: 4px;
        left: 32px;
      }
    }
    .card__title {
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
      font-size: 1.3rem;
      line-height: 1.5rem;
      color: $white;
    }
    .card__gradient {
      background-color: linear-gradient(
        to bottom,
        rgba(26, 26, 26, 0.001) 50%,
        #1a1a1a 200%
      );
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
    }
  }
}

.card:hover > {
  .card__image img {
    transform: scale(1.02);
  }
  .card__content > .card__decal-left {
    &::before,
    &::after {
      border-top: 2px solid $white;
      border-bottom: 2px solid $white;
      box-shadow: 0 0 6px 2px;
    }
  }
}

.card__footer {
  position: relative;
  height: 6px;
  background-color: #adc4ce;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    border-top: 6px solid #1a1a1a;
  }
  &::before {
    left: 0;
    width: 58%;
    border-right: 6px solid transparent;
  }
  &::after {
    right: 0;
    width: 40px;
    border-left: 6px solid transparent;
  }
}
