$h2-font-color: #ecdbba;
$a-font-color: #dcd7c9;
$header-btn-background-color: #2d4263;
$header-btn-background-color-hover: #19263b;
$white: #f1f1f1;
$black: #191919;
$blackbutton: rgba(32, 32, 32, 0.3);
$blackbuttonHover: rgba(20, 20, 20, 0.5);
$blue: #205295;
$blueHover: #071952;
$orange: #f1a661;
$orangeHover: #f97b22;
$gold: #fa9884;
$goldHover: #e74646;
